* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background: #e6ecf0;
font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
text-rendering: optimizeLegibility !important;
-webkit-font-smoothing: antialiased !important;
}

.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

header#main-header{
    height: 46px;
    background-color: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

header#main-header .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

header#main-header nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

header#main-header nav ul li{
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #667580;
    font-weight: bold;
    margin-left: 30px;
}

header#main-header nav ul li:first-child{
    margin-left: 0;
}

header#main-header nav ul li img{
    margin-right: 7px;
}

header#main-header div.side {
    display: flex;
    align-items: center;
    
}

header#main-header div.side img {
    height: 34px;
    width: 35px;
    border-radius: 50%;
    margin: 0 15px;
}

header#main-header div.side button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    border: none;
    width: 90px;
    height: 34px;
    background-color: #3BB9E3;
    border-radius: 16px;
    cursor: pointer;
    outline: 0;
}

header#main-header div.side input {
    width: 220px;
    border: solid 1px #e6ecf0;
    height: 34px;
    padding: 0 30px 0 12px;
    border-radius: 16px;
    outline: 0;
    color: #667581;
    font-size: 12px;
    background: #f5f8fa url('/assets/search.svg') no-repeat 190px center;
}